  @charset "UTF-8";

        a,
        table {
            background-color: transparent
        }

        h3,
        ul {
            margin-bottom: 10px
        }

        .timer,
        .timer-accessory {
            width: 100%
        }

        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            font-size: 10px
        }

        a {
            color: #db2c2c;
            text-decoration: none
        }

        table {
            border-collapse: collapse;
            border-spacing: 0
        }

        td {
            padding: 0
        }

        @font-face {
            font-family: 'Glyphicons Halflings';
            src: url(../../fonts/glyphicons-halflings-regular.eot);
            src: url(../../fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../../fonts/glyphicons-halflings-regular.woff2) format("woff2"), url(../../fonts/glyphicons-halflings-regular.woff) format("woff"), url(../../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg")
        }

        .glyphicon {
            position: relative;
            top: 1px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale
        }

        .glyphicon-repeat:before {
            content: "\e030"
        }

        .glyphicon-play:before {
            content: "\e072"
        }

        *,
        :after,
        :before {
            box-sizing: border-box
        }

        body {
            margin: 0;
            font-family: HelveticaNeue-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.428571429;
            color: #333;
            background-color: #fff
        }

        h3 {
            font-family: inherit;
            font-weight: 500;
            line-height: 1.1;
            color: inherit;
            margin-top: 20px;
            font-size: 24px
        }

        p {
            margin: 0 0 10px
        }

        ul {
            margin-top: 0
        }

        @-ms-viewport {
            width: device-width
        }

        .timer-container {
            position: relative;
            display: block;
            height: 0;
            padding: 0 0 56.25%;
            overflow: hidden
        }

        .timer,
        .timer div {
            position: absolute
        }

        .timer {
            font-family: HelveticaNeue-Light, Arial, Helvetica, Geneva, sans-serif;
            color: #fff;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            border: 0
        }

        .timer-main {
            text-align: center
        }

        .timer-accessory h3 {
            text-transform: uppercase;
            margin-bottom: 0
        }

        .timer-accessory p {
            position: relative
        }

        .timer-elapsed {
            text-align: left
        }

        .timer-interval-count {
            text-align: center
        }

        .timer-remaining {
            text-align: right
        }

        .timer-reset,
        .timer-start-toggle {
            text-align: center;
            height: 21%;
            width: 12%;
            border-top: solid 1px #fff;
            bottom: 0
        }

        .timer-intervals {
            height: 21%;
            left: 11.8125%;
            right: 11.8125%;
            border-top: solid 1px #fff;
            bottom: 0;
            overflow: hidden
        }

        .timer-reset {
            border-right: solid 1px #fff;
            left: 0
        }

        .timer-start-toggle {
            border-left: solid 1px #fff;
            right: 0
        }

        .timer ul {
            position: absolute;
            padding: 0;
            margin: 0;
            height: 100%
        }


@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
.snip1535 {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 22px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.snip1535:before,
.snip1535:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.snip1535:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
.snip1535:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
.snip1535:hover,
.snip1535.hover {
  background-color: #c47135;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
  height: 100%;
  width: 100%;
}
